body{
    background-color: #212529;
    font-family: 'Roboto';
    color: #F8F9FA;
}
/*-------------------------------------------------------TOP NAV-------------------------------------------------------*/
.topnav {
  position: relative;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #6C757D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
  border-radius: 4px; /* Rounded borders */
  transition-duration: .3s;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F8F9FA;
  color: black;
}

.topnav a.active {
  color: #F8F9FA;
}

.topnav a.active::after{
  margin-top: 2px; /* distance goes here */
  display: block;
  content: ' ';
  height: 2px;
  background: #F8F9FA;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.topnav a.active:hover{
  background-color: #F8F9FA;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  padding-right: 20%;
}

.topnav-left {
  padding-left: 20%;
}
/*-------------------------------------------------------INDEX-------------------------------------------------------*/
.header{
  padding-top: 40px;
  text-align: center;
  font-size: 30px;
  text-shadow:  5px 5px 10px #111315, 
  -5px -5px 10px #31373d;
}

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "a b c"
	                     ". d .";
  grid-gap: 10px;
  justify-items: center;
}

.card{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  max-width: 100%;
  border-radius: 10%;
  transition-duration: .5s;
}
.card:hover, .card:active{
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  transform: scale(1.05);
	transition-property: transform;
}

.drip{
  grid-area: a;
}

.tasks{
  grid-area: b;
}

.alg{
  grid-area: c;
}

.portfolio{
  grid-area: d;
}
/*-------------------------------------------------------CONTACT-------------------------------------------------------*/
.contact{
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-items: left;
}

.message{
  grid-column: 2;
  font-family: 'Roboto';
  height:400px;
  width: 60%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: none;
  border-radius: 8px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  color: #F8F9FA;
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
  background: #212529;
  box-shadow: inset 9px 9px 13px #15171a, 
            inset -9px -9px 13px #2d3338;
  font-size: 17px;
  transition-duration: .5s;
}

textarea:focus, textarea:hover{
  outline: none;
  transform: scale(1.05);
	transition-property: transform;
}

textarea::placeholder{
  color: #ADB5BD;
  opacity: 1; /* Firefox */
}

.email{
  color: #F8F9FA;
  font-size: 17px;
  grid-column: 2;
  width: 20%;
  height: 40px;
  border-radius: 8px; /* Rounded borders */
  border: none;
  background: #212529;
  box-shadow: inset 6px 6px 13px #15171a, 
            inset -6px -6px 13px #2d3338;
  text-indent: 5px;
  transition-duration: .5s;
}

.email::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ADB5BD;
  opacity: 1; /* Firefox */
}

.email:focus, .email:hover{
  transform: scale(1.05);
	transition-property: transform;
}

input:hover ,input:focus{
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-transition: color 9999s ease-out, background-color 9999s ease-out;
    -webkit-transition-delay: 9999s;
}

.button{
  grid-column: 2;
  font-size: 17px;
  border-radius: 8px; /* Rounded borders */
  border: none;
  height: 50px;
  width: 150px;
  color: #ADB5BD;
  background: linear-gradient(315deg, #23282c, #1e2125);
  box-shadow:  -6px -6px 12px #171a1d, 
             6px 6px 12px #2b3035;
  transition-duration: 2s;
}
.button:hover {
  border-radius: 8px; /* Rounded borders */
  background-color: #212529;
  box-shadow: inset -6px -6px 12px #171a1d, 
            inset 6px 6px 12px #2b3035;
  color: white;
  transform: scale(1.1);
	transition-property: transform;
}

/*-------------------------------------------------------Media Queries-------------------------------------------------------*/
/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 375px) {
  .topnav-right {
    padding-right: 10px;
  }  
  .topnav-left {
    padding-left: 10px;
  }
  .main{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 370px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnav-right {
    padding-right: 0;
  }
  
  .topnav-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 769px) {
  .header{
    padding-top: 0px;
  }

  .main{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    grid-template-areas: "a"
                         "b"
                         "c"
                         "d";
  }

  .contact{
    grid-template-columns: 1fr;
    grid-gap: 25px;
  }

  .message, .email, .button{
    grid-column: 1;
  }

  .message{
    height:200px;
    width: 100%; /* Full width */
    background: #212529;
    box-shadow: inset 5px 5px 6px #181b1e, 
            inset -5px -5px 6px #2a2f34;
  }

  .email{
    width: 100%;
    height: 200%;
    background: #212529;
    box-shadow: inset 5px 5px 8px #181b1e, 
            inset -5px -5px 8px #2a2f34;
  }

  .button{
    grid-row: 3;
  }
}
  
  