body{
    
}

.upper{
    margin-bottom: -5px;
}

.curved-top{
    background: #F8F9FA;
    color: #15171a;
    text-align: center;
}

.curved-top h1{
    font-size: 200px;
    margin-top: 0;
    color: #212529;
}

.curved-top p{
    font-size: 1.8rem;
    margin:  0 5rem 0 5rem;
}

.curved-top svg{
    display: block;
}

.curved-mid{
    background-color: #212529;
    text-align: center;
    font-size: 40px;
}

.curved-mid p{
    font-size: 1.8rem;
    margin:  0 5rem 0 5rem;
}

.curved-mid svg{
    display: block;
}

.list{
    text-align: center;
    font-size: 35px;
}

.list > ul {
    display: inline-block;
}