body{
    background-color: #212529;
    font-family: 'Roboto';
    color: #F8F9FA;
}

.topnav {
  position: relative;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #6C757D;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F8F9FA;
  color: black;
}

.topnav a.active {
  color: #F8F9FA;
}

.topnav a.active:hover{
  background-color: #F8F9FA;
  color: black;
}

.topnav-centered a {
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.topnav-right {
  float: right;
  padding-right: 20%;
}

.topnav-left {
  padding-left: 20%;
}

.header{
  padding-top: 40px;
  text-align: center;
  text-decoration: underline;
  font-size: 30px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.36);
}

.main{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
}

.card{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.card:hover{
  transform: scale(1.05);
  transition-duration: .5s;
	transition-property: transform;
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 375px) {
  .topnav-right {
    padding-right: 10px;
  }  
  .topnav-left {
    padding-left: 10px;
  }
  .main{
    padding-left: 0;
    padding-right: 0;
  }
}

/* Responsive navigation menu - display links on top of each other instead of next to each other (for mobile devices) */
@media screen and (max-width: 370px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }

  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }

  .topnav-right {
    padding-right: 0;
  }
  
  .topnav-left {
    padding-left: 0;
  }
}

@media screen and (max-width: 769px) {
  .main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 10px;
    justify-items: center;
  }
}
  
  